*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FF9900 ;
}
.container{
    text-align: center;
    padding: 30%;
    font-family: Comic Sans MS;
    
}
h1{
    border: 2px solid #ffcc00;
    background-color: aqua;
}